<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
	<nav class="navbar bg-body-tertiary">
	
  		<div class="container-fluid">
  		
    		<a class="navbar-brand" href="#">
      		<img src="img/tune hub.jpg" alt="Logo" width="50" height="46" class="d-inline-block align-text-top"/>
      			<b>Tune Hub</b>
    		</a>
   			<ul class="nav justify-content-end">
  				<li class="nav-item">
 				   <a class="nav-link" href="/home">Home</a>
 			 	</li>
 			 	
				<li class="nav-item">
    			<a class="nav-link" href="/map-register">Register</a>
  				</li>
  				
 				<li class="nav-item">
    			<a class="nav-link" href="/map-login">Login</a>
  				</li>
 			</ul>
 	 	</div>
 
	</nav>
	<center><h2>Displaying Songs</h2></center>
	<table class="table table-striped">
		<thead class="table-dark">
			<tr>
				<td>Name</td>
				<td>Artist</td>
				<td>Genre</td>
				<td>Link</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="songsList:${songsList}">
				<td th:text=${songsList.name}></td>
				<td th:text=${songsList.artist}></td>
				<td th:text=${songsList.genre}></td>
				<td><audio controls><source th:src=${songsList.link} type="audio/mpeg"></audio></td>
			</tr>
		</tbody>
	</table>
</body>
</html>