<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
	<nav class="navbar bg-body-tertiary">
	
  		<div class="container-fluid">
  		
    		<a class="navbar-brand" href="#">
      		<img src="img/tune hub.jpg" alt="Logo" width="50" height="46" class="d-inline-block align-text-top"/>
      			<b>Tune Hub</b>
    		</a>
   			<ul class="nav justify-content-end">
  				<li class="nav-item">
 				   <a class="nav-link" href="/home">Home</a>
 			 	</li>
 			 	
				<li class="nav-item">
    			<a class="nav-link" href="/map-register">Register</a>
  				</li>
  				
 				<li class="nav-item">
    			<a class="nav-link" href="/map-login">Login</a>
  				</li>
 			</ul>
 	 	</div>
 
	</nav>

	<div class="container">
	<div class="row mt-5">
	<div class="col-md-6 offset-md-3">														
	
<form action="/register" method="post">
	
  <div class="mb-3">
    <label>User Name  </label>
	<input type="text" class="form-control" name="username" required/>
  </div>
  
  <div class="mb-3">
    <label>Email ID  </label>
	<input type="email" class="form-control" name="email" required/>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  
  <div class="mb-3">
    <label>Password  </label>
	<input type="password" class="form-control" name="password" required/>
  </div>
  
  <div class="mb-3">
  
  <label>Gender : </label>
 
	<label class="form-label">Male </label>
	<input type="radio" name="gender" value="male"/>
	<label class="form-label">Female </label>
	<input type="radio" name="gender" value="female"/>
	<label class="form-label">Other </label>
	<input type="radio" name="gender" value="others"/>
	
    </div>
    
    
  <div class="mb-3">
    <label>Role : </label>
	<label>Administer </label>
	<input type="radio" name="role" value="admin"/>
	<label>Customer </label>
	<input type="radio" name="role" value="user"/>
  </div>
    
  <div class="mb-3">
    <label>Address  </label>
	<textarea name="address"  class="form-control"  required></textarea>
  </div>
  
  <center><button type="submit" class="btn btn-primary" value="REGISTER">REGISTER</button></center>
  
</form>
	</div>
	</div>
	</div>
	
	
</body>
</html>